<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: rgb(237,120,51);">
    <div class="container-fluid">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia-exp1.licdn.com%2Fdms%2Fimage%2FC4D0BAQEw36oh1-RcYg%2Fcompany-logo_200_200%2F0%3Fe%3D2159024400%26v%3Dbeta%26t%3DRbBLCk5XLdLATiNns-KMy9iKyp28CuA_ePQWClS7LVM&f=1&nofb=1&ipt=7a04876ebe626d2a137f3dbbd5602125d905a89fa30a0e403524dc3d72ea9126&ipo=images"
            alt="logo">
        <a class="navbar-brand" routerLink="/">VR SOFTWARE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="text-align: right;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/loja">Lojas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/produto">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/produtoloja">ProdutoLoja</a>
                </li>
            </ul>
        </div>
    </div>
</nav>